<ion-content color="dark">

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Filmes novos</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [filmes]="filmesRecentes"></app-slideshow-backdrop>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Posters</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-poster [filmes]="filmesRecentes"></app-slideshow-poster>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Populares</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-pares (carregarMais)="carregarMais()" [filmes]="populares"></app-slideshow-pares>


</ion-content>